# Dependencies
node_modules
package-lock.json

# Build outputs
dist
.angular
coverage

# Environment files
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
